{% extends "layout.njk" %}

{% block content %}

<div class="card">
   <section class="avatar" 
      style="width:450px; height: 520px;background: url(https://source.unsplash.com/collection/3465564/500x500)no-repeat center center/cover">
   </section>
{# Enviando o formulario para a rota instructors #}
    <section class="details">
      <form 
         method="POST" 
         action="/instructors?_method=PUT">

         <h3>Editar Instructor</h3>

      {% include 'instructors/fields.njk' %}

      <input 
         type="hidden"
         name="id"
         value={{instructor.id}}
      >
      </form>

      <form id="form-delete"
         action="/instructors?_method=DELETE"
         method="post">
            <input 
            type="hidden" 
            name="id" 
            value={{instructor.id}}
         >
         <button type="submit">Deletar</button>
      </form>
    </section>
</div>
{% endblock content %}